/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.fac_error {
    color: #c00;
    font-weight: bold;
}
.fac4wp-plugin-not-active {
    color: #c00;
}
.fac4wp-plugin-active {
    color: #008000;
}